@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
.logo{
    width: 100px;
}
body{
    font-family: Roboto;
    margin: 0;
    /* background-color:#eee; */
    padding: 0;
}
.head {
    display: flex;
    background-color: #15605e;
    color: #fff;
    padding: 10px ;
    justify-content: space-between;
}

.nav-items ul{
    display: flex;
    padding: 0;
    gap:2rem;
}

.nav-items ul li {
    list-style: none;
}
.restraunt-list{
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.card {
    padding: 1rem;
    width: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 gray;
}
.card > img {
    width:100%;
    border-radius:5px;
}
.ratings {
    display:flex;
    justify-content:space-between;
    border-radius:5px;
    margin-top:1rem;
}
.footer {
    text-align:center;
    padding:1rem;
    margin-top:2rem;
    background-color:#15605e;
    color:white;
}